/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/*css variables*/
:root {
    --font-primary: "Inter", sans-serif;
    --font-heading: "Macondo", cursive;
}

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Macondo", cursive;
}